Source: djview4shapes
Section: graphics
Priority: optional
#Maintainer: Barak A. Pearlmutter <bap@debian.org>
Maintainer: NDT project
Build-Depends: debhelper (>= 8),
    libdjvulibre-dev (>= 3.5.20),
    x11proto-core-dev, libx11-dev, libxext-dev,
    qt5-default
#Vcs-Git: git://git.debian.org/git/collab-maint/djview4.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/djview4.git
#Homepage: http://djvu.sourceforge.net/
Homepage: https://github.com/jsbien/ndt
Standards-Version: 3.9.1

Package: djview4shapes
Section: graphics
Architecture: any
Provides: djvu4shapes
#Conflicts: djview (<= 3.5.20-5)
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: djview4
# Suggests: djview4
Description: Simple viewer for the common shapes dictionaries contained in DjVu documents
 djview4shapes (a fork of djview4) allows to display the common shapes dictionaries
 to facilitate e.g. transcription and character inventory extraction.

